  <body id="account">
        <div class="main">
        
            <div class="message"><%= flash[:message] %></div>

            <h2>Edit your profile here:</h2>
            <br>

            <form method="POST" action="/account">
                <input id="hidden" type="hidden" name="_method" value="patch">

                <label name="name"><b>Name</b></label><br>
                <input type="text" id="name" name="user[name]" value="<%= @user.name %>"><br>

                <label name="email"><b>Email</b></label><br>
                <input type="text" id="email" name="user[email]" value="<%= @user.email %>"><br>
  
                <button type="submit">Save Account</button>  
            </form>

            <br>
            <p><a href="/tasks">View Tasks</a></p>

        </div>
  </body>
