  <head>
    <style>
    /* Style the top navigation bar */

    </style>
  </head>

  <body id="account">
        <div class="main">
            <h3>Edit your information here:</h3>

            <form method="POST" action="/account">
                        <%# <form method="POST" action="/<%= @user.name %>
                <input id="hidden" type="hidden" name="_method" value="patch">

                <label name="name"><b>Name</b></label><br>
                <input type="text" id="name" name="name" value="<%= @current_user.name %>">
                <br>

                <label name="email"><b>Email</b></label><br>
                <input type="text" id="email" name="email" value="<%= @current_user.email %>">
                <br>

                <button type="submit">Save Account</button>
                    
            </form>
        </div>

  </body>
