<!DOCTYPE html>

  <head>
    <title>Task App</title>
     <link rel="stylesheet" href="/stylesheets/main.css" /> 



    <style>
    .login {
      background-color: #E5C9F6;
      color: white;
      padding: 20px;
    }
    .town {
      background-color: yellow;
      color: white;
      padding: 10px;
    }


    </style>


  </head>

  <body>
    <div class="wrapper">

      <%= yield %>

      <footer class="branding">
        <small>&copy; 2021 <strong>Task List Application</strong></small>
      </footer>
    </div>

  </body>
</html>
