<!DOCTYPE html>
  <head>
    <title>Task App</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />   
      <div class="header">
          <h1>Task App</h1>
          The App for your Tasks
      </div>

      <div class="navbar">

      <% if !logged_in? %>
          <a href="/">Home</a>
          <a href="/login">Login</a>
          <a href="/signup">Sign Up</a>
        <%end%>
        
        <a href="/about">About</a>

        <% if logged_in? %>
          <div class="navbar_logged_in">
            <a href="/logout">Log Out</a>
            <a href="/account">Account</a>
            <a href="/community">Community</a>
            <a href="/tasks">Tasks</a>
          </div>
        <%end%>
      </div>
  </head>

  <body>
    <div class="main">
        <%= yield %>    <%# loads the view content %>
    </div>

    <div class="footer">
      <small>&copy; 2021 <strong>Task List Application</strong></small>
    </div>
  </body>
</html>
