<body id="signup">
    <div class="main">
        <h2>Sign Up Here:</h2>
        <br>
        <form method="POST" action="/signup">

                <label name="name"><b>Name</b></label><br>
                <input type="text" id="name" name="name" required><br>

                <label name="email"><b>Email</b></label><br>
                <input type="text" id="email" name="email" required><br>

                <label name="password"><b>Password</b></label><br>
                <input type="text" id="password" name="password" required><br>

                <button type="submit">Create Account</button>
                
        </form>
    </div>
</body>