<body id="welcome">
    <div class="row">
    <div class="side">
        <p>Welcome! Use this app to view and manage your daily tasks. </p>
        <p>Please <a href="/login">log in</a> to view your tasks for today.</p>
    </div>

    <div class="main">

        <h3>Log in here:</h3>
        <form method="POST" action="/login">
            <label name="email"><b>Email</b></label><br>
            <input type="text" id="email" name="email" required><br>

            <label name="password"><b>Password</b></label><br>
            <input type="text" id="password" name="password" required><br>

            <button type="submit">Log In</button>
            <p>Need an account? Sign up <a href="/signup">here</a></p>
        </form>
  


    </div>
    
    </div>
</body>